anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
backcall
beautifulsoup
bleach
certifi
cffi
charset-normalizer
click
colorama
comm
comtypes
contourpy
cycler
debugpy
decorator
defusedxml
entrypoints
et-xmlfile
executing
fastjsonschema
Flask
fonttools
fqdn
gunicorn
idna
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
itsdangerous
jedi
Jinja
joblib
json5
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
openpyxl
overrides
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
platformdirs
pluggy
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
pyparsing
pyrsistent
pytest
python-dateutil
python-json-logger
pyttsx3
pytz
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
requests
rfc3339-validator
rfc3986-validator
scikit-fuzzy
scikit-learn
scipy
seaborn
Send2Trash
six
sniffio
soupsieve
stack-data
terminado
threadpoolctl
tinycss2
tornado
traitlets
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
